<% provide(:title, 'Admin') %>

<p> This page will display all user accounts </p>
<table class = "userIndex table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Account type</th>
        <th>Created at</th>
        <th></th>
        <th></th>
        
    </tr>
    <tbody>
        <% @user.to_a.each do |user| %>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <% if user.guest %>
                    <%= "GUEST" %>
                <% elsif user.admin_user %>
                    <%= "ADMIN" %>
                <% else %>
                    <%= "STANDARD" %>
                <% end %>
            </td>
            <td><%= user.created_at %></td>
            <td>
                  <% if current_user.admin_user? && !current_user?(user) %>
                    <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                  <% end %>
            </td>
            <td>
                  <% if current_user.admin_user? && !current_user?(user) && !user.guest %>
                        <%= link_to "Promote to Admin", user_promote_url(user), remote: true, data: { confirm: "You sure?" } %>
                  <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>