<% provide(:title, 'Sign up') %>

<div>
    <div class = "signUp">
        <h1>Sign up</h1>
        <%= form_for(@user) do |f| %>
        
            <%= render 'shared/error_messages' %>
            
            <%= f.label :username %><br>
            <%= f.text_field :username, class: 'form-control' %><br>
            
            <%= f.label :email %><br>
            <%= f.email_field :email, class: 'form-control' %><br>

            <%= f.label :password %><br>
            <%= f.password_field :password, class: 'form-control' %><br>
        
            <%= f.label :password_confirmation, "Confirmation" %><br>
            <%= f.password_field :password_confirmation, class: 'form-control' %><br>
          
            <%= f.submit "Create my account" %>
        <% end %>
    </div>
</div>