<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
<body>
    <div class="header navbar-static-top">

        <%= link_to image_tag("title.svg", alt: "DrawParty"), "/" %>

        <div class = "navHeader container-fluid">
            <!--<nav>-->
                <ul class ="nav navbar-nav">
                    <li><%= link_to 'Home', "/" %></li>
                    <li><%= link_to 'GameOne', '/lobbies', :class => is_active?("GameOne") %></li>
                    <li><%= link_to 'GameTwo', '/lobbies/GameTwo', :class => is_active?("GameTwo") %></li>
                    <li><%= link_to 'GameThree', '/lobbies/GameThree', :class => is_active?("GameThree") %></li>
                    <li><%= link_to 'GameFour', '/lobbies/GameFour', :class => is_active?("GameFour") %></li>
                </ul>
            <!--</nav>-->
            <!--<nav>-->
                <ul class ="nav navbar-nav navbar-right">
                        <% if current_user.guest %>
                            <li><%= link_to(current_user.username, ) %></li>
                        <% else %>
                            <li><%= link_to(current_user.username, user_path(current_user)) %></li>
                        <% end %>
                        <li><%= link_to "Log out", logout_path, method: :delete %></li>
                </ul>
            <!--</nav>-->
        </div>
    </div>
    <div class="lobbies"> <!--yielding to lobbie views i.e. GameOne... -->
        <%= yield %>
    </div>
</body>
</html>
